{% extends 'base.html' %}

{% block content %}

<h1>Bank Balances</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form method='POST'>
	{{  form.hidden_tag() }}

	{{ form.date.label(class="form-label") }}
	{{ form.date(class="form-control") }}
	<br/>
	{{ form.company_name.label(class="form-label") }}
	{{ form.company_name(class="form-control") }}
	<br/>
	{{ form.bank_name.label(class="form-label") }}
	{{ form.bank_name(class="form-control") }}
	<br/>
	{{ form.currency.label(class="form-label") }}
	{{ form.currency(class="form-control") }}
	<br/>
	{{ form.balance_curr.label(class="form-label") }}
	{{ form.balance_curr(class="form-control") }}
	<br/>
	{{ form.submit(class="btn btn-secondary") }}
</form>
</div>
<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">
	<thead class="table-success">
  	<tr>
	<td><h6>id</h6></td>
	<td><h6>Date</h6></td>
	<td><h6>Company name</h6></td> 
	<td><h6>Bank name</h6></td>
	<td><h6>Currency</h6></td> 
	<td><h6>Balance Currency</h6></td>
	<td><h6>Rate</h6></td> 
	<td><h6>Balance USD</h6></td>
	<td><h6>Delete row</h6></td>
	</tr>
	</thead>
{% for our_balance in our_balances %}
	<tr>
	<td>{{ our_balance.id }}</td>
	<td>{{ our_balance.date }}</td>
	<td>{{ our_balance.company_name }}</td> 
	<td>{{ our_balance.bank_name }}</td>
	<td>{{ our_balance.currency }}</td> 
	<td align="right">
		{{ our_balance.balance_curr | FormatDecimal }}
	</td>
	<td align="right">
		{{ "{:.4f}".format(our_balance.rate | float)}}
	</td> 
	<td align="right">
		{{ our_balance.balance_usd| FormatDecimal }}
	</td>
	<td>
	<a href="{{ url_for('baldelete', id=our_balance.id)}}">Delete</a>
	</td>
	</tr>

{% endfor %}
</table>
<br/>
<br/>
<br/>

<script>
	let bank_select = document.getElementById('bank_name') 
	let company_select = document.getElementById('company_name')

		company_select.onchange = function(){
			company = company_select.value;

		fetch('/banks/' + company).then(function(response) {
			response.json().then(function(data) {

				let optionHTML = '<option value="Select Bank">Select Bank</option>'


				for (let bank of data.banks){ 
				
				
					optionHTML+= '<option value="' + bank.bank_name + '">' + bank.bank_name +'</option>';		
				}
				bank_select.innerHTML = optionHTML;
			});
		});
	}
</script>

<script>
	let currency_select = document.getElementById('currency') 
	let bank_sel = document.getElementById('bank_name')

	bank_select.onchange = function(){
		bank_change = bank_sel.value;
	
		fetch('/bank_cur/' + bank_change).then(function(response) {
			response.json().then(function(data) {
				
				let optionHTML = '<option value="Select Currency">Select Currency</option>';

				for (let currency of data.currencies) {
					optionHTML+= '<option value="' + currency.currency + '">' + currency.currency +'</option>';		
				}
				currency_select.innerHTML = optionHTML;
			});
		});
	}		

</script>

{% endblock %}