{% extends 'base.html' %}

{% block content %}
<br/><br/><br/>
<div class="row">
	<div class="col-7">
<h4>Follow the steps below to learn how to use this app</h4>
	</div>

</div>
<br/><br/>

<div class="row">
	<div class="col-1">
<h3>Step 1</h3>
	</div>
	<div class="col-6">
<h5>By clicking on the <b>How to</b> link on the navigation bar you go to this page, where you can find instructions about how to use this application</h5>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-1">
<h3>Step 2</h3>
	</div>
	<div class="col-6">
<h5>By clicking on the <b>Initial Setup</b> link on the navigation bar you go to Initial Setup page, where you can find two bottons: Companies and Currencies. There you can setup and delete companies and currencies by completing the associated forms </h5>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-1">
<h3>Step 3</h3>
	</div>
	<div class="col-6">
<h5>By clicking on the <b>Accounts</b> link on the navigation bar you go to the page where you can setup bank accounts used by the companies </h5>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-1">
<h3>Step 4</h3>
	</div>
	<div class="col-6">
<h5>By clicking on the <b>Balances</b> link on the navigation bar you go to the page where you can enter bank balances at a particular date</h5>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-1">
<h3>Step 5</h3>
	</div>
	<div class="col-6">
<h5>By clicking on the <b>Cash Balances</b> link on the navigation bar you can find dashboard. There you can setup a filter and download the resulting table in xlsx format</h5>
	</div>
</div>
{% endblock %}