{% extends 'base.html' %}

{% block content %}

<h1>Update Bank Balances</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
<form action='/upbalance/{{ balance_to_update.id }}' method='POST'>
	{{  form.hidden_tag() }}

	{{ form.date.label(class="form-label") }}
	{{ form.date(class="form-control", value=balance_to_update.date) }}
	<br/>
	{{ form.company_name.label(class="form-label") }}
	{{ form.company_name(class="form-control", value=balance_to_update.company_name) }}
	<br/>
	{{ form.bank_name.label(class="form-label") }}
	{{ form.bank_name(class="form-control", value=balance_to_update.bank_name) }}
	<br/>
	{{ form.currency.label(class="form-label") }}
	{{ form.currency(class="form-control", value=balance_to_update.currency) }}
	<br/>
	{{ form.balance_curr.label(class="form-label") }}
	{{ form.balance_curr(class="form-control", value=balance_to_update.balance) }}
	<br/>
	{{ form.submit(class="btn btn-secondary") }}
	<a href="{{ url_for('baldelete', id=id)}}" class="btn btn-danger">Delete</a>
</form>
</div>
<br/><br/><br/>

{% endblock %}